* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background: rgb(189, 189, 189);
  margin: 0;
}

.hidden {
  position: absolute;
  top: -1000000px;
  opacity: 0;
}
.hover:hover {
  opacity: 0.7;
  cursor: pointer;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  margin: auto;
  background: white;
  min-width: 500px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 0;
}

.item {
  font-size: 1.2rem;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid black;
  margin-bottom: 4px;
  border-radius: 10px;
}
.item.true {
  background: gray;
}
.button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 6px 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
.done {
  margin-right: 10px;
  border: 1px solid black;
}
.done img {
  width: 24px;
}
.done.true {
  background: rgb(95, 95, 95);
}
.done.false {
  background: #30ff30;
}
.text {
  width: calc(100% - 100px);
}
textarea {
  width: 100%;
  font-size: 1.2rem;
  resize: none;
  background: transparent;
  border: 0;
  color: black;
}
textarea:focus {
  outline: 0;
  outline: 1px solid green;
}
textarea.true {
  text-decoration: line-through;
}

.add {
  position: absolute;
  background: blue;
  border: 2px solid darkblue;
  bottom: -15px;
  left: calc(50% - 20px);
}
.add:hover {
  background: #5255ff;
  border: 2px solid blue;
}
.add img {
  width: 24px;
}
.remove {
  background: red;
}
.remove img {
  width: 20px;
}

@media (max-width: 500px) {
  .todo {
    min-width: unset;
    width: 100%;
    padding: 10px;
  }
}
