*{
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  width: 100%;
  background: rgb(189, 189, 189);
  margin: 0;
  overflow: auto;
}

.hover:hover{
  opacity: 0.7;
  cursor: pointer;
}
.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo{
  background: white;
  min-width: 500px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
}
.lists {
}
.add{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: blue;
  border: 2px solid darkblue;
  bottom: -15px;
  left: 50%;
  color: white;
  font-size: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.add:hover{
  background: #5255ff;
  border: 2px solid blue;
}
.item{
  font-size: 1.2rem;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5adf5a;
  border: 1px solid #5adf5a;
  margin-bottom: 4px;
  border-radius: 10px;
}
.item.true{
  background: gray;
}
.done{
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}
.done.true{
  background: rgb(95, 95, 95);
  border: 1px solid black;
}
.done.false{
  background: #30ff30;
  border: 1px solid #46b11c;
}
.text{
  width: calc(100% - 100px)
}
textarea{
  width: 100%;
  font-size: inherit;
  resize: none;
}
textarea.true{
  background: white;
}
textarea.false{
  background: transparent;
  border: 0;
  outline: 0;
  color: black;
}
.text.true{
  text-decoration: line-through;
}
.button{
  border-radius: 10px;
  width: 50px;
  padding: 6px 4px;
  cursor: pointer;
}
.edit{
  background: blue;
  color: white;
  margin-right: 4px;
}
.delete{
  background: red;
  color: white;
}